.discover{
    font-size: 3.5rem;
    font-weight: 900;
}

.discover__width{
    width: 381px;
}

.Btn__buy{
    width: 185px;
    height: 89px;
    border-radius: 40px;
    background: #9090DC;
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    cursor: pointer;
}

.Btn__sell{
    width: 185px;
    height: 89px;
    border-radius: 40px;
    background: transparent;
    border: 1px solid  #9090DC;
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    cursor: pointer;
}

.Btn__sell:hover{
    background: #9090DC;
   
}

.Btn__buy:hover{
     background: transparent;
    border: 1px solid  #9090DC;
}



.flex__btn{
    display: flex;
    column-gap: 1.4rem
}

.flex__text__pic{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}